<div>
    <h2 id="page-heading">
        <span jhiTranslate="twentyOnePointsApp.preferences.home.title">Preferences</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-preferences" [routerLink]="['/preferences/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="twentyOnePointsApp.preferences.home.createLabel">
            Create new Preferences
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="preferences?.length === 0">
        <span jhiTranslate="twentyOnePointsApp.preferences.home.notFound">No preferences found</span>
    </div>
    <div class="table-responsive" *ngIf="preferences?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="weeklyGoal"><span jhiTranslate="twentyOnePointsApp.preferences.weeklyGoal">Weekly Goal</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="weightUnits"><span jhiTranslate="twentyOnePointsApp.preferences.weightUnits">Weight Units</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="user.login"><span jhiTranslate="twentyOnePointsApp.preferences.user">User</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let preferences of preferences ;trackBy: trackId">
                <td><a [routerLink]="['/preferences', preferences.id, 'view' ]">{{preferences.id}}</a></td>
                <td>{{preferences.weeklyGoal}}</td>
                <td jhiTranslate="{{'twentyOnePointsApp.Units.' + preferences.weightUnits}}">{{preferences.weightUnits}}</td>
                <td>
                    {{preferences.user?.login}}
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/preferences', preferences.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/preferences', preferences.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'preferences', { outlets: { popup: preferences.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="preferences?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
