<div>
    <h2 id="page-heading">
        <span jhiTranslate="twentyOnePointsApp.bloodPressure.home.title">Blood Pressures</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-blood-pressure" [routerLink]="['/blood-pressure/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="twentyOnePointsApp.bloodPressure.home.createLabel">
            Create new Blood Pressure
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="bloodPressures?.length === 0">
        <span jhiTranslate="twentyOnePointsApp.bloodPressure.home.notFound">No bloodPressures found</span>
    </div>
    <div class="table-responsive" *ngIf="bloodPressures?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="date"><span jhiTranslate="twentyOnePointsApp.bloodPressure.date">Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="systolic"><span jhiTranslate="twentyOnePointsApp.bloodPressure.systolic">Systolic</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="diastolic"><span jhiTranslate="twentyOnePointsApp.bloodPressure.diastolic">Diastolic</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="user.login"><span jhiTranslate="twentyOnePointsApp.bloodPressure.user">User</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let bloodPressure of bloodPressures ;trackBy: trackId">
                <td><a [routerLink]="['/blood-pressure', bloodPressure.id, 'view' ]">{{bloodPressure.id}}</a></td>
                <td>{{bloodPressure.date | date:'mediumDate'}}</td>
                <td>{{bloodPressure.systolic}}</td>
                <td>{{bloodPressure.diastolic}}</td>
                <td>
                    {{bloodPressure.user?.login}}
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/blood-pressure', bloodPressure.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/blood-pressure', bloodPressure.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'blood-pressure', { outlets: { popup: bloodPressure.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="bloodPressures?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
